.nav__container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.nav__left {
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-size: 0.8rem;
}

.nav__left_logo {
  margin-right: 50px;
  color: rgb(40, 148, 206);
  font-weight: 300;
  font-size: 1.2rem;
}

.nav__left_links {
  display: flex;
  font-weight: 500;
}

.nav__left_links > * {
  margin-right: 30px;
}

.nav__right {
  padding-right: 50px;
}
