/* Mobile responsive */
@media screen and (max-width: 1024px) {
  .post_item__container {
    width: 100%;
  }
}
/* Web design */
@media screen and (min-width: 1024px) {
  .post_item__container {
    width: 70%;
  }
}

.post_item__container {
  padding: 40px 0;
}

.post_item__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.post_item__content {
  font-weight: 300;
  margin-bottom: 15px;
}

.post_item__readmore {
  font-weight: 700;
  padding-top: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.post_item__readmore:hover {
  font-weight: 300;
  color: #ff21a6;
  transition: 0.2s;
}
