/* .slug__container code {
  background-color: rgb(10, 10, 10);
  color: rgb(207, 207, 207);
  margin: 0.2rem 0.5rem;
  padding: 0.2rem 0.5rem;
  display: flex;
  overflow: auto;
  font-size: 14px;
  width: 100%;
} */

.slug__container img {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

.slug__container ul {
  display: flex;
  overflow: auto;
  flex-direction: column;
  margin-left: -25px;
  width: calc(100% + 12.5px);
}

.go_back__button {
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 10px;
  color: white;
  background-color: #ff21a6;
  width: max-content;
  cursor: pointer;
}

.slug__title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 50px 0 0 0;
}

.slug__author {
  font-size: 0.8rem;
  color: #ff21a6;
  font-weight: 300;
  text-align: center;
  margin: 10px 0 80px 0;
}

.slug__container {
  width: 100%;
}
