.slug__container code {
  background-color: gray;
  display: flex;
  overflow: auto;
}

.slug__container img {
  display: flex;
  overflow: auto;
  width: 100%;
}

.go_back__button {
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 10px;
  color: white;
  background-color: #ff21a6;
  width: max-content;
  cursor: pointer;
}

.slug__title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 50px 0 0 0;
}

.slug__author {
  font-size: 0.8rem;
  color: #ff21a6;
  font-weight: 300;
  text-align: center;
  margin: 10px 0 80px 0;
}

.slug__container {
  width: 100%;
}
