/* Mobile responsive */
@media screen and (max-width: 1024px) {
  .nav__left {
    padding-left: 0px;
  }
}
/* Web design */
@media screen and (min-width: 1024px) {
  .nav__left {
    padding-left: 50px;
  }
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin-top: 25px;
  flex-wrap: wrap;
}

.nav__left {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.nav__left_logo {
  margin-right: 50px;
  color: #ff21a6;
  font-weight: 300;
  font-size: 1.2rem;
}

.nav__left_logo:hover {
  transition: 0.3s;
  font-size: 1.3rem;
  font-weight: 700;
}

.nav__left_links {
  display: flex;
  font-weight: 500;
}

.nav__left_links > * {
  margin-right: 30px;
}

.nav__left_link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav__left_link:hover {
  cursor: pointer;
  color: blueviolet;
  transition: 0.3s;
}

.nav__right {
  padding-right: 50px;
}

.nav__right_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
