.footer__container {
  width: 100%;
}

.footer__content {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin: 0 auto;
  font-weight: 300;
  border-top: 1px solid white;
}

.footer__content_right {
  font-size: 0.7rem;
}
