@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap");
@import "../../components/UI/theme-tag/theme-tag.css";

html {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: white;
  background: #6441a5;
  background: -webkit-linear-gradient(to right, #431469, #6441a5);
  background: linear-gradient(to bottom right, #1d0336, #2f1263);
}

p {
  font-size: 1rem;
}
