.header__container {
  position: relative;
  background: #6441a5;
  background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
  background: linear-gradient(to right, #2a0845, #6441a5);
}

.header__content {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.header__img {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.header__img img {
  background-size: cover;
  width: 3000px !important;
  overflow: hidden;
  opacity: 0.1;
  transition: 0.5s;
}

.header__img img:hover {
  opacity: 0.3;
  transition: 0.5s;
}
